    html {
        -webkit-font-smoothing: antialiased;
    }
    
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 1.2rem;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }
    
    body {
        line-height: 1;
        overflow-x: hidden;
    }
    
    ul {
        list-style: none;
    }
    
    blockquote,
    q {
        quotes: none;
    }
    
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    *:focus {
        outline: none;
    }
    
    a {
        text-decoration: none;
    }
    
    li {
        list-style-type: none;
    }
    
    * {
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        margin: 0;
        padding: 0;
        outline: 0;
    }
    
    body {
        background: url("../img/body-bg.png") center repeat;
    }
    
    .overflow-hidden {
        overflow: hidden;
        position: relative;
        height: 100%;
        touch-action: none;
        -ms-touch-action: none;
    }
    
    header {
        padding-top: 21px;
        padding-bottom: 10px;
        position: sticky;
        top: 0;
        z-index: 15;
        width: 100%;
        transition: all 0.3s ease;
    }
    
    .menu-active__animation {
        top: 0;
        transition: all 0.7s ease;
        background: rgb(234, 234, 234);
        box-shadow: 0px 0px 9px 7px rgb(0 1 1 / 15%);
    }
    
    .menu-active {
        top: -100%;
        transition: all 0.7s ease;
    }
    
    .header-blocks {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
    }
    
    .header-logo {
        width: 256px;
        height: 53px;
    }
    
    .header-logo img {
        width: 100%;
        height: 100%;
    }
    
    .header-block {
        display: flex;
        align-items: center;
    }
    
    .header-location,
    .header-phone {
        display: flex;
        align-items: center;
    }
    
    .header-location {
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: #535353;
        font-family: 'Open Sans';
    }
    
    .header-location img,
    .header-phone img {
        margin-right: 13px;
    }
    
    .header-block .header-block__line {
        width: 1px;
        height: 50px;
        border: 0;
        background: rgba(83, 83, 83, 0.2);
        position: relative;
        margin: 0 24px;
    }
    
    .header-block .header-block__line:after {
        position: absolute;
        content: '';
        right: -1px;
        width: 1px;
        height: 50px;
        background: white;
        top: 0;
    }
    
    .header-phone {
        font-size: 24px;
        line-height: 110%;
        color: #535353;
        transition: all 0.7s ease;
    }
    
    .header-phone:hover {
        color: #C58734;
    }
    
    .brown-btn,
    .orange-btn {
        border-radius: 30px;
        font-size: 20px;
        line-height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.7s ease;
        cursor: pointer;
        border: 0;
    }
    
    .brown-btn {
        border: 2px solid #896442;
        background: #EBEBEB;
        color: #896442;
    }
    
    .brown-btn:hover {
        background: #896442;
        color: #EBEBEB;
    }
    
    .orange-btn {
        color: white;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), #F29B25;
        box-shadow: 0px 8px 20px #C58734, inset 0px -3px 2px rgba(0, 0, 0, 0.2);
    }
    
    .orange-btn:hover {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), #D67B02;
    }
    
    .header-block .brown-btn {
        width: 160px;
        height: 40px;
        font-size: 14px;
    }
    
    .header-menu .header-block__line {
        width: 100%;
        height: 1px;
        background: rgba(83, 83, 83, 0.2);
        position: relative;
        margin-bottom: 12px;
    }
    
    .header-menu .header-block__line:after {
        position: absolute;
        content: '';
        right: 0;
        width: 100%;
        height: 1px;
        background: white;
        top: 1px;
    }
    
    .header-menu navbar {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .header-menu navbar li {
        margin-right: 141px;
        margin-bottom: 20px;
    }
    
    .header-menu navbar li:nth-last-of-type(1) {
        margin-right: 0;
    }
    
    .header-menu navbar li a {
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
        color: #535353;
        position: relative;
        transition: all 0.7s ease;
    }
    
    .header-menu navbar>li>a:after,
    .footer-blocks navbar li>a:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: #C58734;
        left: 0;
        bottom: -7px;
        transform: scale(0);
        transition: all 0.7s ease;
    }
    
    .header-menu navbar>li>a:hover:after,
    .footer-blocks navbar li>a:hover:after {
        transform: scale(1);
    }
    
    .header-menu navbar li .active {
        color: #C58734;
    }
    
    main {
        margin-top: 50px;
        margin-bottom: 90px;
    }
    
    .main-container {
        display: flex;
        align-items: center;
        position: relative;
        padding: 20px 0;
        background: url("../img/main-bg.png") center no-repeat;
        background-size: cover;
    }
    
    .main-img {
        height: calc(100% + 100px);
        width: 57vw;
        position: absolute;
        right: 0;
        z-index: 0;
    }
    
    .main-img img {
        border-radius: 20px 0px 0px 20px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .main-text {
        width: 576px;
        padding: 77px 0;
        padding-right: 32px;
        z-index: 1;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    
    .main-text:after {
        content: '';
        width: 51vw;
        height: 100%;
        position: absolute;
        background: white;
        top: 0;
        right: 0;
        z-index: -1;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
        border-radius: 0 20px 20px 0;
    }
    
    .main-text h1 {
        font-weight: 400;
        font-size: 56px;
        line-height: 110%;
        color: #C58734;
        margin-bottom: 40px;
    }
    
    .main-text hr {
        width: 160px;
        height: 4px;
        background: #C58734;
        border: 0;
        margin-bottom: 40px;
    }
    
    .main-text p {
        font-weight: 400;
        font-size: 48px;
        line-height: 110%;
        color: #535353;
        margin-bottom: 40px;
    }
    
    .main-text a {
        width: 352px;
        height: 54px;
    }
    
    .main-features {
        margin-top: 95px;
        overflow: hidden;
        padding: 15px 0;
    }
    
    .main-features__block {
        display: flex;
        justify-content: space-between;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        height: 273px;
        position: relative;
        overflow: hidden;
    }
    
    .main-features__img {
        width: 288px;
        height: 100%;
        position: relative;
    }
    
    .main-features__img:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 50%);
    }
    
    .main-features__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .main-features__text {
        display: flex;
        flex-direction: column;
        width: 288px;
        position: absolute;
        right: 0;
        justify-content: center;
        height: 100%;
        padding-right: 25px;
    }
    
    .main-features__text h3 {
        font-size: 30px;
        line-height: 110%;
        color: #535353;
        margin-bottom: 30px;
    }
    
    .main-features__text a {
        height: 54px;
        width: 100%;
    }
    
    .section-title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 40px;
    }
    
    .section-title h2 {
        font-weight: 400;
        font-size: 40px;
        line-height: 110%;
        color: #535353;
        margin-bottom: 15px;
    }
    
    .section-title hr {
        width: 160px;
        height: 4px;
        background: #C58734;
        border-radius: 10px;
        border: 0;
    }
    
    .slider-wrapper {
        max-width: calc(100% + 16px);
        width: calc(100% + 16px);
    }
    
    .catalog {
        margin-bottom: 70px;
    }
    
    .catalog-slider,
    .reviews-slider {
        width: calc(100% + 16px);
        padding: 16px;
        margin-left: -16px;
    }
    
    .catalog-block {
        background: #FFFFFF;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        overflow: hidden;
        position: relative;
    }
    
    .catalog-img {
        overflow: hidden;
        height: 216px;
        width: 100%;
    }
    
    .catalog-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.7s ease;
    }
    
    .catalog-block:hover .swiper-slide-active img {
        transform: scale(1.3);
    }
    
    .catalog-text {
        padding: 12px 16px 20px 16px;
    }
    
    .catalog-text small {
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        color: #535353;
        margin-bottom: 5px;
    }
    
    .catalog-text h5 {
        font-size: 32px;
        line-height: 110%;
        color: #896442;
        margin-bottom: 12px;
    }
    
    .catalog-text a {
        width: 100%;
        height: 48px;
    }
    
    .catalog-properties {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: -5px;
    }
    
    .catalog-property {
        display: flex;
        align-items: center;
        margin-right: 12px;
        margin-bottom: 13px;
    }
    
    .catalog-property img {
        width: 16px;
        height: 16px;
        margin-right: 7px;
    }
    
    .catalog-property p {
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 12px;
        line-height: 130%;
        color: #535353;
    }
    
    .catalog-price {
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
        color: #896442;
        margin-bottom: 13px;
    }
    
    .catalog-block__mark {
        position: absolute;
        top: 12px;
        right: 0;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
        z-index: 2;
        background: #C58734;
        padding: 3px 8px;
        border-radius: 8px 0 0 8px;
    }
    
    .slider-button {
        filter: grayscale(1);
        opacity: 0.7;
        transition: all 0.7s ease;
        cursor: pointer;
    }
    
    .slider-button:hover {
        filter: grayscale(0);
        opacity: 1;
    }
    
    .slider-navigation {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 31px;
    }
    
    .swiper-pagination-bullets {
        display: flex;
        align-items: center;
    }
    
    .swiper-pagination-bullet {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 6px;
        background: #E3EBDE;
        box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.3);
        border-radius: 2px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        opacity: 1;
    }
    
    .swiper-pagination-bullet:after {
        content: '';
        position: absolute;
        background: #C58734;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        transition: all 0.7s ease;
        transform: scale(0);
    }
    
    .swiper-pagination-bullet-active:after {
        transform: scale(1);
    }
    
    .slider-button__prev {
        margin-right: 6px;
    }
    
    .slider-button__next {
        margin-left: 6px;
    }
    
    .catalog-navbar {
        display: flex;
        align-items: center;
        margin-bottom: 23px;
        flex-wrap: wrap;
    }
    
    .catalog-navbar__btn {
        margin-right: 30px;
        margin-bottom: 15px;
        width: 200px;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #EBEBEB;
        border: 2px solid #896442;
        border-radius: 30px;
        font-size: 20px;
        line-height: 30px;
        color: #535353;
        cursor: pointer;
        transition: all 0.7s ease;
    }
    
    .catalog-navbar__btn:hover {
        color: #896442;
    }
    
    .catalog-navbar .catalog-navbar__btn:last-child {
        margin-right: 0;
    }
    
    .catalog-navbar__btn-active {
        background: #896442;
        color: #FFFFFF;
    }
    
    .catalog-navbar__btn-active:hover {
        color: white;
    }
    
    .catalog-slider__block,
    .header-menu navbar .header-location,
    .header-menu navbar .header-social {
        display: none;
    }
    
    @-webkit-keyframes fadeInDown {
        from {
            opacity: 0;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
        }
        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
    
    @keyframes fadeInDown {
        from {
            opacity: 0;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
        }
        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
    
    .catalog-block__active {
        display: block;
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
        -webkit-animation-duration: 0.4s;
        animation-duration: 0.4s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    
    @-webkit-keyframes fadeOutUp {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
        }
    }
    
    @keyframes fadeOutUp {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
        }
    }
    
    .fadeOutUp {
        -webkit-animation-name: fadeOutUp;
        animation-name: fadeOutUp;
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    
    .buider-wrapper {
        height: 590px;
    }
    
    .buider-wrapper {
        background: url("../img/main-bg.png") center no-repeat;
        background-size: cover;
    }
    
    .builder .section-title hr {
        margin-bottom: 23px;
    }
    
    .builder .section-title p {
        text-align: center;
        font-size: 24px;
        line-height: 110%;
        color: #535353;
    }
    
    .builder-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    .builder-block {
        width: 100%;
        height: 660px;
        overflow: hidden;
        border-radius: 10px;
        margin-top: -35px;
    }
    
    .builder-block img {
        width: 100%;
        height: 100%;
    }
    
    .builder .section-title {
        margin-bottom: 70px;
    }
    
    .builder {
        margin-bottom: 105px;
    }
    
    .about-text {
        display: flex;
        flex-direction: column;
    }
    
    .about-text h3 {
        font-size: 32px;
        line-height: 110%;
        color: #535353;
        margin-bottom: 24px;
    }
    
    .about-text p {
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: #535353;
        margin-bottom: 20px;
    }
    
    .about-video {
        overflow: hidden;
        width: 100%;
        filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
        border-radius: 10px;
        height: 306px;
    }
    
    .about-video iframe {
        width: 100%;
        height: 100%;
    }
    
    .about {
        margin-bottom: 80px;
    }
    
    .about-features__block {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 65px;
    }
    
    .about-features__block img {
        width: auto;
        height: 63px;
        margin-bottom: 24px;
    }
    
    .about-features__block hr {
        width: 64px;
        height: 4px;
        background: #C58734;
        border-radius: 10px;
        margin-bottom: 24px;
        border: 0;
        transition: all 0.7s ease;
    }
    
    .about-features__block:hover hr {
        transform: translateY(10px);
    }
    
    .about-features__block p {
        font-size: 16px;
        line-height: 120%;
        text-align: center;
        color: #535353;
        max-width: 113px;
    }
    
    .offer-wrapper {
        display: flex;
        align-items: center;
        width: 100%;
        height: 445px;
        background: url("../img/main-bg.png") center no-repeat;
        background-size: cover;
    }
    
    .offer-container {
        height: 493px;
        display: flex;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        position: relative;
    }
    
    .offer-text {
        width: 574px;
        padding-right: 32px;
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0px;
        justify-content: center;
        height: 100%;
    }
    
    .privacy-checkbox {
        display: flex;
        align-items: flex-start;
        margin-bottom: 20px;
    }
    
    .privacy-checkbox span,
    .privacy-checkbox span a {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: #535353;
    }
    
    .privacy-checkbox span a {
        text-decoration: underline;
        transition: all 0.7s ease;
    }
    
    .privacy-checkbox span a:hover {
        color: #C58734;
    }
    
    .privacy-checkbox input[type=checkbox]:checked,
    .privacy-checkbox input[type=checkbox]:not(:checked) {
        display: none;
        box-sizing: unset;
    }
    
    .privacy-checkbox input[type=checkbox]:checked+label,
    .privacy-checkbox input[type=checkbox]:not(:checked)+label {
        display: flex;
        position: relative;
        align-items: center;
        padding-left: 47px;
        box-sizing: unset;
    }
    
    .privacy-checkbox input[type=checkbox]:checked+label:before,
    .privacy-checkbox input[type=checkbox]:not(:checked)+label:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0px;
        width: 30px;
        height: 30px;
        background: #FFFFFF;
        box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.3);
        border-radius: 2px;
        box-sizing: unset;
        cursor: pointer;
    }
    
    .privacy-checkbox input[type=checkbox]:checked+label:after,
    .privacy-checkbox input[type=checkbox]:not(:checked)+label:after {
        content: "";
        position: absolute;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
        box-sizing: unset;
        cursor: pointer;
    }
    
    .privacy-checkbox input[type=checkbox]:checked+label:after,
    .privacy-checkbox input[type=checkbox]:not(:checked)+label:after {
        left: 4px;
        top: 6px;
        width: 22px;
        height: 18px;
        background: url("../img/check-mark.svg") center no-repeat;
    }
    
    .privacy-checkbox input[type=checkbox]:not(:checked)+label:after {
        opacity: 0;
        box-sizing: unset;
    }
    
    .privacy-checkbox input[type=checkbox]:checked+label:after {
        opacity: 1;
        box-sizing: unset;
    }
    
    .input-contain .placeholder-text {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: transparent;
        pointer-events: none;
        display: flex;
        align-items: center;
    }
    
    .input-contain .placeholder-text {
        padding-left: 19px;
    }
    
    .input-contain .text {
        background-color: transparent;
        transform: translate(0);
        transition: transform 0.15s ease-out, font-size 0.15s ease-out, background-color 0.2s ease-out, color 0.15s ease-out;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
    }
    
    .input-contain {
        position: relative;
        margin-bottom: 28px;
    }
    
    .input-contain input,
    .input-contain .placeholder-text {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #535353;
        padding-left: 19px;
        transition: all 0.7s ease;
    }
    
    .input-contain input {
        background: #EDEDED;
        box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2);
        border-radius: 30px;
        padding-top: 15px;
        border: 0;
        width: 256px;
        height: 54px;
    }
    
    .input-contain__block input:focus+.placeholder-text .text,
    .input-contain__block :not(input[value=""])+.placeholder-text .text {
        color: #000000;
        font-size: 12px;
        transform: translate(0, -80%);
        z-index: 1;
    }
    
    .input-contain__block input:focus {
        box-shadow: inset -2px 2px 3px rgb(0 0 0 / 20%);
    }
    
    .offer-img {
        width: 641px;
        height: 100%;
        position: relative;
    }
    
    .offer-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .offer-img:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 50%);
    }
    
    .offer-text h3 {
        font-size: 40px;
        line-height: 110%;
        color: #535353;
        margin-bottom: 16px;
    }
    
    .offer-text hr {
        width: 160px;
        height: 4px;
        background: #C58734;
        border-radius: 10px;
        border: 0;
        margin-bottom: 26px;
    }
    
    .offer-text p {
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: #535353;
        margin-bottom: 34px;
    }
    
    .offer-text form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .offer-text form button {
        width: 256px;
        height: 54px;
        border: 0;
        margin-left: auto;
    }
    
    .offer {
        margin-bottom: 68px;
    }
    
    .review-block {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
    
    .review-img {
        width: 100px;
        height: 100px;
        overflow: hidden;
        border-radius: 50%;
        margin-bottom: -50px;
        z-index: 1;
    }
    
    .review-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    
    .review-block__text {
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        padding: 60px 15px 15px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .review-block__text h4 {
        font-size: 24px;
        line-height: 110%;
        color: #535353;
        margin-bottom: 16px;
    }
    
    .review-block__text hr {
        width: 33px;
        height: 2px;
        background: #C58734;
        border-radius: 5px;
        margin-bottom: 15px;
        border: 0;
    }
    
    .review-block__text p {
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        color: #535353;
    }
    
    .reviews {
        margin-bottom: 80px;
    }
    
    .offer-social__block {
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        height: 280px;
    }
    
    .offer-social__img {
        width: 638px;
        height: 100%;
        position: relative;
    }
    
    .offer-social__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .offer-social__img:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 50%);
    }
    
    .offer-social__text {
        position: absolute;
        width: 325px;
        right: 123px;
    }
    
    .offer-social__text h3 {
        font-weight: 400;
        font-size: 40px;
        line-height: 110%;
        color: #535353;
        margin-bottom: 15px;
    }
    
    .offer-social__text hr {
        width: 160px;
        height: 4px;
        background: #C58734;
        border-radius: 10px;
        margin-bottom: 17px;
        border: 0;
    }
    
    .offer-social__text p {
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: #535353;
        margin-bottom: 24px;
    }
    
    .offer-social__text a {
        width: 256px;
        height: 54px;
    }
    
    .offer-social {
        margin-bottom: 50px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0;
    }
    
    .contacts-blocks {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .contacts-blocks h2 {
        font-weight: 400;
        font-size: 40px;
        line-height: 110%;
        color: #535353;
        margin-bottom: 16px;
    }
    
    .contacts-blocks hr {
        margin-bottom: 41px;
        width: 160px;
        height: 4px;
        background: #C58734;
        border: 0;
        border-radius: 10px;
    }
    
    .contacts-block {
        display: flex;
        align-content: inherit;
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: #535353;
        margin-bottom: 37px;
    }
    
    .contacts-blocks a.contacts-block {
        transition: all 0.7s ease;
    }
    
    .contacts-blocks a.contacts-block:hover {
        color: #C58734;
    }
    
    .contacts-block img {
        width: 18px;
        margin-right: 13px;
    }
    
    .contacts-phone {
        font-family: 'Oswald';
        font-weight: 400;
        font-size: 24px;
        line-height: 110%;
        color: #535353;
    }
    
    .contacts-map {
        width: 100%;
        filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
        border-radius: 20px;
        height: 388px;
        overflow: hidden;
    }
    
    .contacts-map iframe {
        width: 100%;
        height: 100%;
    }
    
    .contacts {
        margin-bottom: 23px;
    }
    
    footer {
        background: #222222;
        padding-top: 30px;
        padding-bottom: 37px;
        position: relative;
    }
    
    footer hr {
        height: 2px;
        background: #C58734;
        border: 0;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
    }
    
    .footer-blocks {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .footer-logo {
        width: 160px;
        height: 33px;
    }
    
    .footer-logo img {
        width: 100%;
        height: 100%;
    }
    
    .footer-blocks navbar {
        display: flex;
    }
    
    .footer-blocks navbar li {
        margin-right: 83px;
    }
    
    .footer-blocks navbar li:last-child {
        margin-right: 0;
    }
    
    .footer-blocks navbar li a {
        position: relative;
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
    }
    
    .footer-block__line {
        margin: 24px 0;
        width: 100%;
        height: 1px;
        background: #1B1B1B;
        position: relative;
        margin-bottom: 12px;
    }
    
    .footer-block__line:after {
        position: absolute;
        content: '';
        right: 0;
        width: 100%;
        height: 1px;
        background: #FFFFFF;
        opacity: 0.1;
        top: 1px;
    }
    
    .footer-social {
        display: flex;
        align-items: center;
    }
    
    .footer-social a {
        width: 27px;
        height: 27px;
        transition: all 0.7s ease;
        margin-right: 16px;
    }
    
    .footer-social a:hover {
        transform: scale(1.2);
    }
    
    .footer-social a img {
        width: 100%;
        height: 100%;
    }
    
    .privacy-link {
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 12px;
        line-height: 130%;
        text-decoration-line: underline;
        color: #E3EBDE;
        transition: all 0.7s ease;
    }
    
    .privacy-link:hover {
        color: #C58734;
    }
    
    .studio {
        display: flex;
        align-items: center;
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 12px;
        line-height: 130%;
        color: #E3EBDE;
    }
    
    .studio img {
        margin-left: 15px;
        transition: all 0.7s ease;
    }
    
    .studio:hover img {
        transform: scale(1.1);
    }
    
    .footer-social__mobile,
    .menu-btn__wrapper {
        display: none;
    }
    
    .header-menu__phone {
        display: none;
    }
    
    .header-menu navbar .brown-btn {
        display: none;
    }
    
    .modal {
        width: 400px;
        background: #FFFFFF;
        border-radius: 20px;
        padding: 45px 30px;
    }
    
    .modal-block {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .close-modal {
        top: 20px;
        right: 25px;
        position: absolute;
    }
    
    .fancybox-slide--html .fancybox-close-small {
        display: none;
    }
    
    .modal-block .input-contain input {
        width: 335px;
    }
    
    .modal-block p {
        font-size: 18px;
        margin-bottom: 25px;
        font-weight: 300;
    }
    
    .modal-block .input-contain {
        margin-bottom: 15px;
    }
    
    .modal-block .section-title {
        margin-bottom: 25px;
    }
    
    .modal-block .privacy-checkbox span,
    .modal-block .privacy-checkbox span a {
        font-size: 14px;
        text-align: left;
    }
    
    .modal-block .orange-btn {
        width: 100%;
        height: 50px;
    }
    
    .footer-social__mobile {
        display: none;
    }
    
    .catalog-img__pagination {
        position: absolute;
        z-index: 1;
        bottom: 15px;
        justify-content: center;
    }
    
    .catalog-img__pagination .swiper-pagination-bullet {
        width: 18px;
        height: 18px;
    }
    
    .catalog-img__pagination .swiper-pagination-bullet:after {
        width: 8px;
        height: 8px;
    }
    
    .fancybox-navigation,
    .fancybox-infobar,
    .fancybox-button--play,
    .fancybox-button--thumbs {
        display: none;
    }
    
    .single-block {
        padding: 30px 0;
    }
    
    .single-block p {
        font-size: 19px;
        font-weight: 300;
        margin-bottom: 15px;
    }
    
    @media (max-width: 1500px) {
        .main-text h1 {
            font-size: 44px;
            margin-bottom: 30px;
        }
        .main-text p {
            font-size: 37px;
        }
        .main-text hr {
            margin-bottom: 30px;
        }
        .main-text {
            width: 465px;
            padding: 40px 0;
        }
        .main-img {
            height: calc(100% + 50px);
            width: 60vw;
        }
        main {
            margin-top: 25px;
        }
    }
    
    @media (max-width: 1199px) {
        .header-menu navbar li {
            margin-right: 100px;
        }
        .main-features__img:after {
            background: linear-gradient(270deg, #FFFFFF 35%, rgba(255, 255, 255, 0) 100%);
        }
        .catalog-navbar__btn {
            margin-right: 20px;
            width: 170px;
        }
        .about-video {
            margin-top: 60px;
        }
        .about {
            margin-bottom: 40px;
        }
        .about-features__block {
            margin-bottom: 45px;
        }
        .about-features {
            margin-bottom: 40px;
        }
        .offer-img {
            width: 500px;
        }
        .offer-img:after {
            background: linear-gradient(270deg, #FFFFFF 20%, rgba(255, 255, 255, 0) 70%);
        }
        .offer-social__text {
            right: 40px;
        }
        .offer-social__img:after {
            background: linear-gradient(270deg, #FFFFFF 10%, rgba(255, 255, 255, 0) 50%);
        }
        .footer-blocks navbar li {
            margin-right: 43px;
        }
    }
    
    @media (max-width: 991px) {
        .header-location {
            display: none;
        }
        .header-logo {
            width: 210px;
            height: 44px;
        }
        .header-phone {
            font-size: 19px;
        }
        .header-block .header-block__line {
            margin: 0 15px;
        }
        .header-block .brown-btn {
            width: 135px;
            font-size: 13px;
        }
        .menu-btn__wrapper {
            display: flex;
            align-items: center;
        }
        .menu-btn__icon {
            position: relative;
            right: 0;
            width: 35px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 10;
            border-radius: 50%;
        }
        .menu-btn__icon:after {
            content: '';
            width: 100%;
            height: 100%;
            border: 3px solid #896442;
            border-radius: 50%;
            top: 0;
            left: 0;
            position: absolute;
            transition: all 0.7s ease;
        }
        .menu-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .menu-btn__icon .menu-icon>span {
            border-radius: 4px;
            height: 2.8px;
            position: relative;
            background: #896442;
            display: block;
            transition: all 0.3s ease-in-out;
        }
        .menu-btn__icon .menu-icon span:nth-child(1) {
            width: 13px;
            margin-bottom: 2.8px;
        }
        .menu-btn__icon .menu-icon span:nth-child(2) {
            width: 11px;
            margin-bottom: 2.8px;
        }
        .menu-btn__icon .menu-icon span:nth-child(3) {
            width: 8px;
        }
        .menu-btn__active .menu-icon span:nth-child(1) {
            transform-origin: center center;
            transform: rotate(45deg);
            top: 6px;
            width: 15px;
        }
        .menu-btn__active .menu-icon span:nth-child(2) {
            transform: scale(0);
        }
        .menu-btn__active .menu-icon span:nth-child(3) {
            transform-origin: center center;
            transform: rotate(-45deg);
            top: -5.5px;
            width: 15px;
        }
        .header-menu navbar {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            position: fixed;
            width: 100%;
            height: 100%;
            background: #FFFFFF;
            z-index: 3;
            top: 0;
            left: 0;
            margin: 0;
            padding: 80px 75px;
            transform: translateX(100%);
            transition: all 0.7s ease;
            overflow-x: hidden;
            overflow-y: auto;
            flex-wrap: nowrap;
        }
        .header-menu .menu-header__active {
            transform: translateX(0%);
        }
        .header-menu navbar li {
            margin-right: 0;
            margin-bottom: 30px;
            width: 100%;
        }
        .header-menu navbar li a {
            font-size: 25px;
        }
        .header-menu .header-block__line {
            display: none;
        }
        main .main-container {
            max-width: 100%;
        }
        main .main-container .container {
            max-width: 100%;
            padding-right: 0;
            padding-left: 0;
        }
        main .main-container .row {
            margin-right: 0;
            margin-left: 0;
        }
        main .main-container .row .col-12 {
            padding-right: 0;
            padding-left: 0;
        }
        .main-text:after {
            width: 60vw;
            left: 0;
            right: auto;
        }
        .main-text {
            padding-left: 15px;
            width: 435px;
        }
        .main-container {
            background: none;
            margin-top: 250px;
        }
        .main-container:after {
            content: '';
            width: 100%;
            height: 325px;
            position: absolute;
            background: url(../img/main-bg.png) center no-repeat;
            background-size: cover;
            top: 0;
            right: 0;
            z-index: -1;
        }
        .main-img {
            width: 85%;
            top: -250px;
        }
        .main-features {
            margin-top: 25px;
        }
        .main-features__img {
            width: 430px;
        }
        .main-features__img:after {
            background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 50%);
        }
        .main-features__block {
            margin-bottom: 30px;
        }
        main {
            margin-bottom: 20px;
        }
        .catalog-navbar {
            justify-content: center;
            margin-bottom: 0px;
        }
        .slider-container {
            max-width: 100%;
            padding: 0;
        }
        .slider-container .row {
            margin: 0;
        }
        .catalog {
            overflow: hidden;
        }
        .catalog-slider .swiper-wrapper .swiper-slide {
            width: 268px;
        }
        .about-video {
            height: 400px;
            margin-top: 0;
            margin-bottom: 35px;
        }
        .offer-container {
            height: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
        }
        .offer-img {
            width: 100%;
            height: 400px;
        }
        .offer-text {
            position: relative;
            width: 100%;
            padding: 30px 60px;
        }
        .offer-wrapper {
            height: 100%;
            position: relative;
            background: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .offer-wrapper:after {
            content: '';
            width: 100%;
            height: calc(100% - 70px);
            position: absolute;
            background: url(../img/main-bg.png) center no-repeat;
            background-size: cover;
            right: 0;
            z-index: -1;
        }
        .offer-img:after {
            background: linear-gradient(360deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 35%);
        }
        .offer-social__img {
            width: 400px;
        }
        .footer-blocks navbar li {
            margin-right: 20px;
        }
        .footer-blocks navbar li a {
            font-size: 16px;
        }
        .header-menu__phone {
            display: flex;
            align-items: center;
            font-size: 27px;
            line-height: 110%;
            color: #535353;
            margin-bottom: 30px;
        }
        .header-menu__phone img {
            margin-right: 8px;
        }
        .header-menu navbar .brown-btn {
            display: flex;
            background: #EBEBEB;
            width: 238px;
            height: 40px;
        }
        .buider-wrapper {
            height: auto;
        }
        .builder-block {
            height: calc(100% + 40px);
            margin-top: 0;
        }
        .reviews {
            overflow: hidden;
        }
        .reviews-slider .swiper-wrapper .swiper-slide {
            width: 368px;
        }
        .header-blocks {
            margin-bottom: 0;
        }
        .header-menu navbar .header-location,
        .header-menu navbar .header-social {
            display: flex;
        }
        .header-menu navbar .header-location {
            margin-bottom: 20px;
        }
        .header-menu navbar .brown-btn {
            margin-bottom: 20px;
        }
        .header-social a {
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }
        .header-social a img {
            width: 100%;
            height: 100%;
        }
    }
    
    @media (max-width: 767px) {
        .header-phone {
            display: none;
        }
        .main-text:after {
            width: 78vw;
        }
        .main-features__img {
            width: 230px;
        }
        .catalog-navbar__btn {
            width: 150px;
            font-size: 17px;
        }
        .catalog {
            margin-bottom: 40px;
        }
        .section-title h2 {
            font-size: 36px;
        }
        .about-features__block {
            margin-bottom: 30px;
        }
        .about {
            margin-bottom: 25px;
        }
        .offer-text {
            padding: 30px;
        }
        .offer-container .input-contain input {
            width: 215px;
        }
        .reviews {
            margin-bottom: 40px;
        }
        .offer-social__block {
            height: auto;
            flex-direction: column;
        }
        .offer-social__img {
            width: 100%;
            height: 300px;
        }
        .offer-social__img:after {
            background: linear-gradient(360deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 20.18%);
        }
        .offer-social__text {
            width: 100%;
            position: relative;
            right: auto;
            padding: 35px 20px;
        }
        .contacts-map {
            margin-bottom: 30px;
        }
        .footer-blocks {
            flex-wrap: wrap;
            justify-content: center;
        }
        .footer-social {
            display: none;
        }
        .footer-blocks navbar {
            width: 100%;
            flex-wrap: wrap;
        }
        .footer-blocks navbar li a {
            font-size: 21px;
        }
        .footer-blocks navbar li {
            margin-right: 0;
            margin-bottom: 20px;
            padding-right: 10px;
            width: 50%;
        }
        .footer-social.footer-social__mobile {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
        }
        .footer-logo {
            margin-bottom: 15px;
            width: 260px;
            height: 52px;
        }
        .privacy-link {
            width: 50%;
            text-align: left;
        }
        .footer-blocks.justify-content-between {
            justify-content: space-between;
        }
    }
    
    @media (max-width: 576px) {
        .header-block .brown-btn {
            display: none;
        }
        .header-block .header-block__line {
            display: none;
        }
        .main-img {
            width: calc(100% - 15px);
            padding-left: 0;
        }
        .main-text {
            width: calc(100% - 15px);
            padding: 25px 15px;
        }
        .main-text:after {
            width: 100%;
        }
        .main-text h1 {
            font-size: 32px;
            margin-bottom: 15px;
        }
        .main-text hr {
            margin-bottom: 16px;
        }
        .main-text p {
            font-size: 21px;
            width: 80%;
            margin-bottom: 15px;
        }
        .header-logo {
            width: 136px;
            height: 29px;
        }
        header {
            padding: 10px 0;
        }
        .header-menu navbar {
            padding: 45px 35px;
        }
        .header-menu navbar li a {
            font-size: 20px;
        }
        .header-menu navbar li {
            margin-bottom: 20px;
        }
        .header-menu__phone {
            font-size: 20px;
            margin-bottom: 20px;
        }
        .header-menu navbar .brown-btn {
            width: 158px;
            height: 40px;
            font-size: 16px;
        }
        .main-container {
            margin-top: 255px;
        }
        .main-img {
            top: -185px;
            height: 240px;
        }
        .main-container {
            margin-top: 200px;
        }
        .main-text a {
            width: 198px;
            height: 51px;
        }
        .main-container:after {
            height: 72px;
        }
        .main-features {
            margin-top: 10px;
        }
        .main-features__block {
            height: auto;
            flex-direction: column;
        }
        .main-features__img {
            width: 100%;
            height: 220px;
        }
        .main-features__img:after {
            background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 31.14%);
        }
        .main-features__text {
            width: 100%;
            position: relative;
            padding: 25px 14px;
        }
        .section-title h2 {
            font-size: 30px;
        }
        .catalog-navbar__btn {
            width: 95%;
            font-size: 22px;
            margin-right: 0;
        }
        .builder .section-title {
            margin-bottom: 50px;
        }
        .builder {
            margin-bottom: 50px;
        }
        .about-video {
            height: 225px;
        }
        .offer-container .input-contain,
        .offer-container .input-contain input {
            width: 100%;
        }
        .offer-text form button {
            width: 100%;
        }
        .offer-text {
            height: auto;
        }
        .offer {
            margin-bottom: 45px;
        }
        .section-title {
            margin-bottom: 25px;
        }
        .offer-social__img {
            height: 240px;
        }
        .offer-social__text a {
            width: 100%;
        }
        .privacy-link {
            width: 130px;
        }
        .footer-block__line {
            margin-top: 0;
        }
        .footer-social__mobile .footer-block__line {
            margin-top: 24px;
        }
        .footer-logo {
            margin-bottom: 15px;
            width: 180px;
            height: 38px;
        }
        .modal {
            width: 310px;
        }
        .modal {
            padding: 45px 15px;
        }
        .modal-block .input-contain input {
            width: 280px;
        }
        .modal-block p {
            font-size: 15px;
        }
        .modal-block .privacy-checkbox span,
        .modal-block .privacy-checkbox span a {
            font-size: 13px;
        }
        .reviews-slider .swiper-wrapper .swiper-slide {
            width: 315px;
        }
        .review-block__text p {
            font-size: 13px;
        }
        .header-social a {
            width: 30px;
            height: 30px;
        }
    }
    
    @-webkit-keyframes fadeInLeft {
        from {
            opacity: 0;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }
        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
    
    @keyframes fadeInLeft {
        from {
            opacity: 0;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }
        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
    
    .fadeInLeft {
        -webkit-animation-name: fadeInLeft;
        animation-name: fadeInLeft;
        -webkit-animation-duration: 0.7s;
        animation-duration: 0.7s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        z-index: 1;
    }
    
    @-webkit-keyframes fadeInRight {
        from {
            opacity: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
        }
        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
    
    @keyframes fadeInRight {
        from {
            opacity: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
        }
        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
    
    .fadeInRight {
        -webkit-animation-name: fadeInRight;
        animation-name: fadeInRight;
        -webkit-animation-duration: 0.8s;
        animation-duration: 0.8s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        z-index: 0;
    }
    
    @-webkit-keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    .fadeIn {
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        display: block;
    }
    
    .fadeInDown {
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
        -webkit-animation-duration: 0.8s;
        animation-duration: 0.8s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    
    @-webkit-keyframes zoomIn {
        from {
            opacity: 0;
            -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
        }
        50% {
            opacity: 1;
        }
    }
    
    @keyframes zoomIn {
        from {
            opacity: 0;
            -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
        }
        50% {
            opacity: 1;
        }
    }
    
    .zoomIn {
        -webkit-animation-name: zoomIn;
        animation-name: zoomIn;
        -webkit-animation-duration: 0.8s;
        animation-duration: 0.8s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    
    html {
        -webkit-font-smoothing: antialiased;
    }
    
    .wow {
        visibility: hidden;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }